In [1]:
Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Java

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

In [4]:
tool_names = ["Anaconda", "Jupyter Notebook", "RStudio"]
markdown_table = " Tool Name        \n------------------\n" + "\n".join([f" {tool:<18} " for tool in tool_names])
print(markdown_table)

 Tool Name
------------------
 Anaconda
 Jupyter Notebook
 RStudio

In [6]:

tool_names = ["Anaconda", "Jupyter Notebook", "RStudio"]
markdown_table = "| Tool Name        |\n|------------------|\n" + "\n".join([f"| {tool:<18} |" for tool in tool_names])
heading = "### Below are a few examples of evaluating arithmetic expressions in Python\n"
print(markdown_table + "\n" + heading)

| Tool Name        |
|------------------|
| Anaconda           |
| Jupyter Notebook   |
| RStudio            |
## Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

In [ ]:
Objectives:
- Python
- Java
- R

In [ ]:
AUTHOR
AAKRITI